<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form action="http://www.baidu.com/" method="get" class="act">
			用户:&nbsp;<input type="text" name="username" id="" value="" />
			<br />
			密码:&nbsp;<input type="password" name="password" id="" value="" />
			<br />
			<input type="reset" value="重新输入" />
			<input type="submit" value="数据同步" />

			<h4>爱好</h4>
			<input type="checkbox" name="likes" id="likes" value="eat" /> 篮球

			<!--<h4>性别</h4>
			<input type="radio" name="sex" id="sex" value="man" />男
			<input type="radio" name="sex" id="sex" value="women" />女
			<input type="radio" name="sex" id="sex" value="mid" />第三-->

		</form>

<h3>当前积分:{{ points }}</h3>
    <h3>消费明细:暂无消费记录</h3>
</body>
</html>