<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分</title>
</head>
<body>
<form action="http://www.baidu.com/" method="get" class="act">
			用户:&nbsp;<input type="text" name="username" id="" value="" />
			<br />
			密码:&nbsp;<input type="password" name="password" id="" value="" />
			<br />
			<input type="reset" value="重新输入" />
			<input type="submit" value="数据同步" />

		</form>
    <h3>当前积分:{{ points }}</h3>
    <h3>消费明细:暂无消费记录</h3>
    <br>

  <table>
    {% for line in jifen %}
    <tr>
        <h3>你的账号:{{line.name}}</h3>

        <h3>你的密码:{{line.passwd}}</h3>
    </tr>
    {% endfor %}
    </table>
</body>
</html>
