<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div align="center">
{#    <form action="{% url 'datasapp:info' %}" method="post" class="act">#}
{#        {% csrf_token %}#}
{#        用户:&nbsp;<input type="text" name="username" id="" value=""/>#}
{#        {{ msg_username }}#}
{#        <br/>#}
{#        密码:&nbsp;<input type="password" name="password" id="" value=""/>#}
{#        {{ msg_passwd }}#}
{#        <br/>#}
{#        <input type="reset" value="重新输入"/>#}
{#        <input type="submit" value="数据同步"/>#}
{#    </form>#}

    <br>


{#    <h3>当前积分:{{ points }}</h3>#}
    <h2>账号填写</h2>
    <br>

    <table>
{#        {% for line in jifen %}#}
{#            <tr>#}
{#                <h3>你的账号:{{ line.name }}</h3>#}
{##}
{#                <h3>你的密码:{{ line.passwd }}</h3>#}
{##}
{#            </tr>#}
{#        {% endfor %}#}

        {#    自定义form#}
        <form action="{% url 'datasapp:info' %}" method="post" class="act">
{#        <form action="{% url 'datasapp:show_info' %}" method="post" class="act">#}
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {{ form.username.errors }}
            <label >用户:</label><input type="text" name="name" placeholder="证件号/卡号/预留手机号"/>
            <br>
            {{ form.passwd.errors }}
            <label >密码:</label><input type="text" name="passwd" placeholder="请输入密码"/>
            <br>
            <label >验证码:</label><input type="text" name="img_code" placeholder="请输入验证码" size="15"/>
            <img src="/static/img/imgcode.png" alt="">

            <br>


            <br/>
            <input type="reset" value="重新输入"/>
            <input type="submit" value="数据同步" href="show_info"/>


        </form>
{#        <a href="{% url 'show_info' %}"><input type="submit" value="数据同步"/></a>#}
        <br>

{#        {% for line in users %}#}
{#            <tr>#}
{#                <h3>你的账号:{{ line.name }}</h3>#}
{##}
{#                <h3>你的密码:{{ line.passwd }}</h3>#}
{#            </tr>#}
{#        {% endfor %}#}

    </table>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</div>
</body>
</html>
